{% extends 'base2.html' %}

{% block header %}
<header>
    <nav>
        <a href="{% url 'home' %}">Inicio</a>
        {% if user.is_authenticated %}
        <a href="{% url 'task' %}">Tareas Pendientes</a>
        <a href="{% url 'task_completed' %}">Tareas Completadas</a>
        <a href="{% url 'task_create' %}">Crear Tarea</a>
        <a href="{% url 'logout' %}">Cerrar Sesion</a>
        {% else %}
        <a href="{% url 'signup' %}">Registrate</a>
        <a href="{% url 'signin' %}">Iniciar Sesion</a>
        {% endif %}
    </nav>
</header>

{% endblock %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">{{tittle}}</h1>

            <ul class="list-group">
                {% for task in tasks %}
                <a class="list-group-item" href="{% url 'detail' task.id %}">
                    <header class="d-flex justify-content-between">
                        {% if task.important == True %}
                        <h1 class="fw-bold text-success">{{task.titulo}}</h1>
                        {% else %}
                        <h1 class="ft-bold">{{task.titulo}}</h1>
                        {% endif %}
                        <p>{{task.user.username}}</p>
                    </header>
                    <p>{{task.descripcion}}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}